<!DOCTYPE html>
<html>
  <head>
    <title>ProjectApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav>
      <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if current_user %>
              <li>Hello, <%= current_user.email %></li>
              <li><%= link_to "Profile", user_path(current_user.id) %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
          <% else %>
              <li> <%= link_to "Login",  new_user_session_path %> </li>
          <% end %>
      </ul>
  </nav>
    <%= yield %>
  </body>
</html>
