<!DOCTYPE html>
<html>
  <head>
    <title>ProjectApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="navigation">
          <img src="http://i.imgur.com/2aOYONY.jpg" class="logo" />
          <ul class="nav-menu">

              <% if current_user %>
                  <li>Hello, <%= current_user.email %></li>
                  <li><%= link_to "HOME", root_path %></li>
                   <li><%=link_to "BROWSE EVENTS", events_path %></li>
                  <li><%= link_to "CREATE AN EVENT", new_event_path %></li>
                  <li><%= link_to "PROFILE", user_path(current_user.id) %></li>
                  <li><%= link_to 'LOG OUT', destroy_user_session_path, :method => :delete %> </li>
              <% else %>
                  <li><%= link_to "HOME", root_path %></li>
                  <li> <%= link_to "LOG IN",  new_user_session_path %> </li>
                  <li> <%= link_to "SIGN UP",  new_user_registration_path %> </li>
              <% end %>
          </ul>

      </div>

<!--       <div class="navigation">
        <a href="#" class="logo">LOGO</a>
        <ul class="nav-menu">
            <li><a href="index.html">BROWSE EVENTS</a></li>
            <li><a href="#createevent">CREATE AN EVENT</a></li>
            <li><a href="../users/show.html">PROFILE</a></li>
            <li><a href="#signup">SIGN UP</a></li>
            <li><a href="#login">LOG IN</a></li>
        </ul>
      </div> -->
      <%= render "layouts/flash" %>
     <%= yield %>

      <div class="footer">
        <p>&copy; Sameny Robunde</p>
      </div>
  </body>
</html>
