
    <div class="profile-container">

        <% if current_user.id == @user.id %>
        <div class="main-profile">
        <h1 class="user-profile-heading"> user profile</h1>
                <div class="profile-subdiv"
                    <h2><%= @user.full_name %></h2>
                    <p><%= image_tag(@user.picture, :alt => "rss feed") %></p>
                    <p><%= @user.email %></p>
                    <%= link_to 'Edit Profile', edit_user_registration_path%>
                </div>
            <h1 class="user-profile-heading"> my events</h1>
                <div class="profile-subdiv">
                <% @user.events.each do |ev| %>
                    <img src=<%=ev.image_url %> alt=""><br>
                    <%=link_to ev.name, event_path(ev) %><br>
                    <p><%= ev.event_date %></p><br>
                    <%= link_to "Edit", edit_event_path(ev) %> |
                    <%= link_to "Delete", ev, method: :delete, data: { confirm: "Are you sure?"} %><br>
                    <hr>
                <% end %>
                </div>
        </div>

        <% else %>
            <div>
                <h3>You are not authorized to view this page.</h3>
            </div>
        <% end %>

