

    <div class="events-container">
        <div class="sidebar-events">
            <h2 class="events-links"><a href="/">SEARCH AGAIN</a></h2>
            <h2 class="events-links"><a href="../events/new">CREATE AN EVENT</a></h2>
        </div>
        <div class="main-events">
            <h1> ALL EVENTS </h1>
          <% @events.each do |ev| %>
            <div class="searched-events">

              <div class="searched-img">
               <!--    <img src=<%= ev.image_url %> alt=""> -->
              <!-- <img src=<%= ev.image %> alt=""> -->
              <%= image_tag ev.image_url if ev.image? %>


              </div>
              <div class="event-details">
                  <label>Name: </label> <br>
                  <%= link_to ev.name,  event_path(ev) %> <br>
                  <label>Date: </label> <br>
                  <h4><%= ev.event_date %></h4>
            <br>
              </div>


            </div>
            <br>
            <% end %>
        </div>
        </div>

