
<title>something different | events</title>
<div class="events-show-container">
    <div class="events-show">
        <div class="events-label">
        <h1 class="event-name-heading"><%= @event.name %></h1>
        </div>

        <% if current_user.id === @event.user.id %>
        <div class="editevlinks">
            <%=link_to 'Edit', edit_event_path(@event) %> | <%=link_to 'Remove', @event, method: :delete %>
        </div>
        <br>
        <% end %>

        <img src=<%= @event.image_url %> class="events-image" />
        <br>

        <div class="events-label"><h3>Created By: </h3> <p> <%= @event.user.full_name %></p>
        </div>

        <div class="events-label"><h3>Date: </h3> <p> <%= @event.event_date.strftime("%B %e, %Y") %></p>
        </div>

        <div class="events-label"><h3>Category: </h3> <p> <%= @event.category %> </p>
        </div>

        <div class="events-label"><h3>Event type: </h3>
        </div>

        <div class="events-label"><h3>Price: </h3> <p><%= @event.price %> </p>
        </div>

        <a href=<%= @event.event_url %>><button class="events-button">Purchase Tickets</button></a>
        <br>

        <h4>Comments <%=link_to "(#{@event.comments.count})" , "#" %></h4>
        <hr>
        <div class="event-details">
        <% @event.comments.each do |comm| %>
          <img src= "<%= comm.user.picture %>" class= "commpic"> <%= comm.user.full_name %> |
          <p class="commtime"><%= comm.created_at %></p>
          <p class="commcon"><%= comm.content %></p>

          <% if current_user.id === comm.user.id %>
                <p class="editevlinks"><%=link_to 'Edit', edit_comment_path(comm) %> | <%=link_to 'Remove', comm, method: :delete %></p>
            <% end %>
          <hr>
        <% end %>
        </div>
        <br>
        <div class="commentdiv" id="commentbox">
        <% @comment.event_id = @event.id %>
        <br>
        <%= render './comments/form', comment: @comment%>
        </div>
        <br>
        <%= link_to 'Back to All Events', events_path %>
    </div>
    </div>




